<div>
    <nav class="navbar navbar-expand navbar-dark bg-primary text-dark">
      <a href="#" class="navbar-brand">Free Weather App</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="main" class="nav-link">Main</a>
        </li>
        <li class="nav-item">
          <a routerLink="head" class="nav-link">Head</a>
        </li>
        <li class="nav-item">
          <a routerLink="todo" class="nav-link">TODO</a>
        </li>
        <li class="nav-item">
          <a routerLink="weather" class="nav-link">Weather</a>
        </li>
      </div>
    </nav>
    
    <div class="container mt-3">
      <router-outlet></router-outlet>
    </div>
  </div>

